{% extends 'bash.html' %}
{% load static %}
{% block content %}
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- page wrap
    ================================================== -->
    <div id="page" class="s-pagewrap">

        <!-- # site header 
        ================================================== -->
       {% include 'header.html' %}
        <!-- end s-header -->


        <!-- # site main content
        ================================================== -->
        <section id="content" class="s-content">

               <section class="s-pageheader pageheader">
                    <div class="row">
                        <div class="column xl-12">
                            <h1 class="page-title">
                                <span class="page-title__small-type text-pretitle">{{websetting.blog_page_pre_title}}</span>
                                {{websetting.blog_page_title}}
                            </h1>
                        </div>
                    </div>
               </section>

               <section class="s-pagecontent pagecontent">

                    <div class="row">
                        <div class="column xl-12 grid-block">

                            <!-- <div class="grid-full">         -->
                                <div class="grid-full grid-list-items">
                                    {% for article in articles %}
                                    <div class="grid-list-items__item blog-card">
                                        <div class="blog-card__header">
                                            <div class="blog-card__cat-links">
                                                <a href="{% url 'blog' %}">{{article.category}}</a>
                                            </div>
                                            <h3 class="blog-card__title"><a href="{% url 'blog-details' article.id %}">{{article.title}}</a></h3>
                                        </div>
                                        <div class="blog-card__text">
                                            <p>
                                             {{article.short_desc | safe}}
                                            </p>
                                        </div>
                                    </div> <!-- end blog-card -->
                                    {% endfor %}

                                </div> <!-- grid-list-items -->
                            <!-- </div>     -->

                        </div> <!-- end grid-block-->
                    </div> <!-- end row -->

                    <!-- pagination -->
                    <div class="row navigation pagination">
                        <div class="column xl-12">
                            <nav class="pgn">
                                <ul>
                                    {% if articles.has_previous %}
                                    <li>
                                        <a class="pgn__prev" href="?page={{ articles.previous_page_number }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"/></svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for num in articles.paginator.page_range %}
                                    {% if num == articles.number %}
                                    <li><span class="pgn__num current">{{ num }}</span></li>
                                    {% elif num > articles.number|add:'-3' and num < articles.number|add:'3' %}
                                    <li><a class="pgn__num" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if articles.has_next %}
                                    <li>
                                        <a class="pgn__next" href="?page={{ articles.next_page_number }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div> <!-- end column -->
                    </div> <!-- end pagination -->

               </section>

        </section> <!-- s-content-->

        <!-- # cta
        ================================================== -->
       <section id="cta" class="s-cta">

            <div class="row row-x-center text-center">
                <div class="column xl-8 lg-12">

                    <div class="s-cta__content">
                        <h2 class="text-display-title">
                        {{websetting.cta_title}}
                        </h2>
                        <p class="lead">
                         {{websetting.short_cta_desc}}
                        </p>
                        <a href="contact.html" class="btn btn--primary"> {{websetting.cta_button}}</a>
                    </div>

                </div>
            </div>

        </section>  <!-- end s-cta -->


        <!-- # footer 
        ================================================== -->
       {% include 'footer.html' %}
        <!-- end s-footer -->

    </div> <!-- end page-wrap -->

{% endblock %}